.App {
  background-color: rgb(29, 29, 29);
  min-height: 100vh;
}
.container_transaction {
  background-color: #cdd8ff;
  max-width: 93%;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}
