// Google Fonts

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@300;500&display=swap");

// Fuentes
$fuente_titulo: "Kaushan Script", cursive;
$fuente_principal: "Glory", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 780px;
$desktop: 1300px;

// Colores
$colorFondo: #019178;
$colorBackground: #0099ff;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
